body{
	background-image: url(images/fond.jpg);
	background-repeat: no-repeat;
	background-size: 100% 290%;
}
.logo{
	max-width: 15%;
	margin-left: 43.5%;
}
h1{
	font-family:impact;
	text-align:center;
	color: #3399ff;
	
}
#recherche{
	float: right;
	
}
section{
	border-style: solid;
	border-color: white;
	margin-left: 12%;
	margin-right: 12%;
	border-radius: 5em;
	background-color:white;
}